* {
  font-family: "Liberation Sans", sans-serif;
}

body, .controls, #grid-container {
  display: flex;
}

body {
  flex-direction: column;
  align-items: center;
}

.controls, #grid-container {
  justify-content: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 24px;
}

.controls {
  gap: 16px;
}

#set-grid-size, #clear {
  height: 50px;
  width: 100px;
  font-size: 15px;
}

#grid-container {
  margin-top: 20px;
  flex-wrap: wrap;
  align-content: center;
  width: 500px;
  height: 500px;
}

.grid-square {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
}

.grid-square-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.grid-square-right {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
