#set-grid-size {
  height: 50px;
  width: 100px;
  font: 12px;
}

#grid-container {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 500px;
  border: 1px solid;
  padding: 1px;
}

.grid-square {
  border: 1px solid;
}
