* {
  font-family: "Liberation Sans", sans-serif;
}

body, .controls, #grid-container, .grid-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  flex-direction: column;
}

.grid-row, .grid-square {
  box-sizing: border-box;
}

h1 {
  margin-top: 20px;
  margin-bottom: 24px;
}

.controls {
  gap: 16px;
}

#set-grid-size, #clear {
  height: 50px;
  width: 100px;
  font-size: 15px;
}

#grid-container {
  margin-top: 20px;
  flex-wrap: wrap;
  align-content: center;
  width: 500px;
  height: 500px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.grid-square {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
