* {
  font-family: "Liberation Sans", sans-serif;
}

body, .controls, #grid-container {
  display: flex;
}

.controls, #grid-container {
  justify-content: center;
}

body {
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 24px;
}

.controls {
  gap: 16px;
}

#set-grid-size, #clear {
  height: 50px;
  width: 100px;
  font-size: 15px;
}

#grid-container {
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 1px;
  align-content: center;
  width: 500px;
  height: 500px;
  border: 1px solid;
  padding: 1px;
}

.grid-square {
  border: 1px solid;
}
